<form class = "ui form form_spacing">
<%= form_for @pokemon do |f| %> 
    <%= f.text_field :name, placeholder: "Pokemon Name" %>
    <%= f.text_field :image, placeholder: "Image Url" %>
    <%= f.submit "Add Pokemon", class: "ui yellow button" %>
    <% end %>
    </form>