/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.pokemon{
    color: magenta;
}
.trainer{ 
    color: midnightblue
}
body{ 
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}
.home{ 
    margin: 50px; 
    padding: 20px;
    border: 1px solid lightsalmon;
    text-align: center;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png");
    background-size: contain;
}

.image_gallery{
margin: 20px;
display: grid;
grid-template-columns: repeat(auto-fill,minimax(200px, 1fr));
grid-gap: 20px;
}
.image{
    width: 100px;
    height: 100px;

}

.form_spacing{
margin: 20px;
}